Peripherals/GPIO/G2B_S32K144_GPIO_MCAL_Output/LED_Control/
Sensor_Module/G2B_S32K144_W2821B/W2821-main/
Peripherals/LIN/G2B_S32K144_LIN/LIN_Slave/
Peripherals/LIN/G2B_S32K144_LIN/LIN_Master/
Peripherals/FlexTImer/MCAL_Demo_Codes/G2B_FlexTimer_CenterAlign_PWM/
G2B_S32K144_IOT_Enablement/G2B_S32K144_IOT/
Demos/lpi2c_master_s32k144/
Demos/I2C_testing/
Demos/G2B_S32K144_SPI_W25Q/
Demos/Adc_Sar_Bctu_Ip_example_S32K344/
