Parsed function:Crypto_Exts_MPCompression
Parsed function:Crypto_Exts_SHE_DebugAuth
Parsed function:Crypto_Exts_SHE_DebugChal
Parsed function:Crypto_Exts_SHE_GetId
Parsed function:Crypto_Exts_SHE_GetStatus
Parsed function:Crypto_Exts_SHE_BootOk
Parsed function:Crypto_Exts_SHE_BootFailure
Parsed function:Crypto_Exts_SetSynchronousRequestsTimeout
Dump after hash based groups
Congruence classes: 6 (unique hash values: 6), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 5 classes
[3]: 1 classes


Dump after WPA based types groups
Congruence classes: 8 (unique hash values: 6), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 8 (unique hash values: 6), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 8 (unique hash values: 6), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 8 (unique hash values: 6), with total: 8 items
Class size histogram [num of members]: number of classe number of classess
[1]: 8 classes



Item count: 8
Congruent classes before: 8, after: 8
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

Crypto_Exts_MPCompression (const uint8 * pInput, uint32 u32InputLen, uint8 * pResult, const uint32 * pResultLen)
{
  Std_ReturnType RetVal;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG u32PartitionId => 0
  # DEBUG BEGIN_STMT
  # DEBUG RetVal => 1
  # DEBUG BEGIN_STMT
  RetVal_7 = Crypto_Ipw_SheMPCompression (0, pInput_2(D), u32InputLen_3(D), pResult_4(D), pResultLen_5(D));
  # DEBUG RetVal => RetVal_7
  # DEBUG BEGIN_STMT
  return RetVal_7;

}


Crypto_Exts_SHE_DebugAuth (const uint8 * pAuthorization)
{
  Std_ReturnType RetVal;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG u32PartitionId => 0
  # DEBUG BEGIN_STMT
  # DEBUG RetVal => 1
  # DEBUG BEGIN_STMT
  RetVal_4 = Crypto_Ipw_SheDebugAuth (0, pAuthorization_2(D));
  # DEBUG RetVal => RetVal_4
  # DEBUG BEGIN_STMT
  return RetVal_4;

}


Crypto_Exts_SHE_DebugChal (uint8 * pChallenge)
{
  Std_ReturnType RetVal;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG u32PartitionId => 0
  # DEBUG BEGIN_STMT
  # DEBUG RetVal => 1
  # DEBUG BEGIN_STMT
  RetVal_4 = Crypto_Ipw_SheDebugChal (0, pChallenge_2(D));
  # DEBUG RetVal => RetVal_4
  # DEBUG BEGIN_STMT
  return RetVal_4;

}


Crypto_Exts_SHE_GetId (const uint8 * pChallenge, uint8 * pId, uint8 * pSreg, uint8 * pMac)
{
  Std_ReturnType RetVal;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG u32PartitionId => 0
  # DEBUG BEGIN_STMT
  # DEBUG RetVal => 1
  # DEBUG BEGIN_STMT
  RetVal_7 = Crypto_Ipw_SheGetId (0, pChallenge_2(D), pId_3(D), pSreg_4(D), pMac_5(D));
  # DEBUG RetVal => RetVal_7
  # DEBUG BEGIN_STMT
  return RetVal_7;

}


Crypto_Exts_SHE_GetStatus (uint8 * pStatus)
{
  Std_ReturnType RetVal;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG u32PartitionId => 0
  # DEBUG BEGIN_STMT
  # DEBUG RetVal => 1
  # DEBUG BEGIN_STMT
  RetVal_4 = Crypto_Ipw_SheGetStatus (0, pStatus_2(D));
  # DEBUG RetVal => RetVal_4
  # DEBUG BEGIN_STMT
  return RetVal_4;

}


Crypto_Exts_SHE_BootOk ()
{
  Std_ReturnType RetVal;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG u32PartitionId => 0
  # DEBUG BEGIN_STMT
  # DEBUG RetVal => 1
  # DEBUG BEGIN_STMT
  RetVal_3 = Crypto_Ipw_SheSetBootStatus (0, 1);
  # DEBUG RetVal => RetVal_3
  # DEBUG BEGIN_STMT
  return RetVal_3;

}


Crypto_Exts_SHE_BootFailure ()
{
  Std_ReturnType RetVal;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG u32PartitionId => 0
  # DEBUG BEGIN_STMT
  # DEBUG RetVal => 1
  # DEBUG BEGIN_STMT
  RetVal_3 = Crypto_Ipw_SheSetBootStatus (0, 0);
  # DEBUG RetVal => RetVal_3
  # DEBUG BEGIN_STMT
  return RetVal_3;

}


Crypto_Exts_SetSynchronousRequestsTimeout (uint32 u32Timeout)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG u32PartitionId => 0
  # DEBUG BEGIN_STMT
  # DEBUG RetVal => 1
  # DEBUG BEGIN_STMT
  Crypto_Ipw_SetSynchronousRequestsTimeout (0, u32Timeout_2(D));
  # DEBUG BEGIN_STMT
  return 1;

}


