Parsed function:main
Parsed function:OcuNotification
Dump after hash based groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Dump after WPA based types groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes



Item count: 2
Congruent classes before: 2, after: 2
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

main ()
{
  Clock_Ip_StatusType clockStatus;
  <unnamed type> _1;
  _Bool Toggle_Led.2_2;

  <bb 2> [local count: 53687]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  clockStatus_9 = Clock_Ip_Init (&Mcu_aClockConfigPB[0]);
  # DEBUG clockStatus => clockStatus_9
  # DEBUG BEGIN_STMT
  goto <bb 4>; [100.00%]

  <bb 3> [local count: 434377]:
  # DEBUG BEGIN_STMT
  clockStatus_20 = Clock_Ip_Init (&Mcu_aClockConfigPB[0]);
  # DEBUG clockStatus => clockStatus_20

  <bb 4> [local count: 488064]:
  # clockStatus_3 = PHI <clockStatus_9(2), clockStatus_20(3)>
  # DEBUG clockStatus => clockStatus_3
  # DEBUG BEGIN_STMT
  if (clockStatus_3 != 0)
    goto <bb 3>; [89.00%]
  else
    goto <bb 10>; [11.00%]

  <bb 10> [local count: 53687]:

  <bb 5> [local count: 488064]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = Clock_Ip_GetPllStatus ();
  if (_1 != 0)
    goto <bb 12>; [89.00%]
  else
    goto <bb 6>; [11.00%]

  <bb 12> [local count: 434377]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 53687]:
  # DEBUG BEGIN_STMT
  Clock_Ip_DistributePll ();
  # DEBUG BEGIN_STMT
  Port_Init (0B);
  # DEBUG BEGIN_STMT
  IntCtrl_Ip_EnableIrq (99);
  # DEBUG BEGIN_STMT
  IntCtrl_Ip_InstallHandler (99, FTM_0_CH_0_CH_1_ISR, 0B);
  # DEBUG BEGIN_STMT
  Ftm_Ocu_Ip_Init (&Ftm_Ocu_Ip_ModuleCfgPB_BOARD_INITPERIPHERALS);
  # DEBUG BEGIN_STMT
  Ftm_Ocu_Ip_StartChannel (0, 0);
  # DEBUG BEGIN_STMT
  Ftm_Ocu_Ip_EnableNotification (0, 0);

  <bb 7> [local count: 536870913]:

  <bb 8> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  Toggle_Led.2_2 ={v} Toggle_Led;
  if (Toggle_Led.2_2 != 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 11>; [50.00%]

  <bb 11> [local count: 536870913]:
  goto <bb 8>; [100.00%]

  <bb 9> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  Toggle_Led ={v} 0;
  goto <bb 7>; [100.00%]

}


OcuNotification ()
{
  long unsigned int count.0_1;
  long unsigned int _2;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  count.0_1 = count;
  _2 = count.0_1 + 1;
  count = _2;
  if (count.0_1 > 13999)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  Toggle_Led ={v} 1;
  # DEBUG BEGIN_STMT
  count = 0;

  <bb 4> [local count: 1073741824]:
  return;

}


