Parsed function:MCL_FLEXIO_ISR
Parsed function:Flexio_Mcl_Ip_CommonIrq
Dump after hash based groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Dump after WPA based types groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Worklist has been filled with: 1
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes


Worklist has been filled with: 1
Address reference subdivision created: 0 new classes.
Congruence classes: 2 (unique hash values: 2), with total: 2 items
Class size histogram [num of members]: number of classe number of classess
[1]: 2 classes



Item count: 2
Congruent classes before: 2, after: 2
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

MCL_FLEXIO_ISR ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  Flexio_Mcl_Ip_CommonIrq ();
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  return;

}


Flexio_Mcl_Ip_CommonIrq ()
{
  struct FLEXIO_Type * BaseAddr;
  long unsigned int _1;
  long unsigned int _2;
  _Bool _3;
  long unsigned int _11;
  long unsigned int _12;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  BaseAddr_6 = Flexio_Ip_paxBase[0];
  # DEBUG BaseAddr => BaseAddr_6
  # DEBUG BEGIN_STMT
  _1 = Flexio_Mcl_Ip_GetAllShifterErrorStatus (BaseAddr_6);
  # DEBUG u8ShifterErrMaskFlag => (uint8) _1
  # DEBUG BEGIN_STMT
  _2 = Flexio_Mcl_Ip_GetAllTimerStatus (BaseAddr_6);
  # DEBUG u8TimerMaskFlag => (uint8) _2
  # DEBUG BEGIN_STMT
  _3 = Flexio_Ip_baIpIsInitialized[0];
  if (_3 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 3>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  _11 = _1 & 255;
  BaseAddr_6->SHIFTERR ={v} _11;
  # DEBUG BEGIN_STMT
  _12 = _2 & 255;
  BaseAddr_6->TIMSTAT ={v} _12;

  <bb 4> [local count: 1073741824]:
  return;

}


